<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Hatchet</title>
    <link rel="stylesheet" href="/hatchet/stylesheets/styles.css">
    <link rel="stylesheet" href="/hatchet/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/hatchet/">Hatchet</a></h1>
        <p>Ruby logging library that provides the ability to add class/module specific filters</p>
        <ul class="buttons">
          <li><a href="/hatchet/install.html">How To <strong>Install</strong></a></li>
          <li><a href="https://github.com/gshutler/hatchet">View On <strong>GitHub</strong></a></li>
          <li><a href="https://rubygems.org/gems/hatchet">View On
            <strong>RubyGems</strong></a></li>
        </ul>

        <p class="view"><a href="https://github.com/gshutler/hatchet">View the
          Project on GitHub <strong>gshutler/hatchet</strong></a></p>
        <h4>Navigation</h4>
        <ul class="navigation">
          <li><a href="/hatchet/">Home</a></li>
          <li><a href="/hatchet/about.html">About</a></li>
          <li>
            <a href="/hatchet/install.html">Installation</a>
            <ul>
              <li><a href="/hatchet/install/rails.html">Rails</a></li>
              <li><a href="/hatchet/install/sinatra.html">Sinatra</a></li>
              <li><a href="/hatchet/install/ruby.html">Ruby</a></li>
            </ul>
          </li>
          <li><a href="/hatchet/configuration.html">Configuration</a></li>
          <li><a href="/hatchet/extensions.html">Known extensions</a></li>
          <li>
            <a href="/hatchet/extending.html">Extending Hatchet</a>
            <ul>
              <li><a href="/hatchet/extending/appenders.html">Appenders</a>
              <li><a href="/hatchet/extending/formatters.html">Formatters</a>
            </ul>
          </li>
        </ul>
        <br />
        <p>
          <a href="http://travis-ci.org/gshutler/hatchet">
            <img alt="Build status" src="https://secure.travis-ci.org/gshutler/hatchet.png?branch=master"/></a>
        </p>
        <br />
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <script src="/hatchet/javascripts/scale.fix.js"></script>
  </body>
</html>
